apiVersion: apps/v1
kind: Deployment
metadata:
  name: analytics-service
  labels:
    app: analytics-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: analytics-service
  template:
    metadata:
      labels:
        app: analytics-service
    spec:
      containers:
      - name: analytics-service
        image: ghcr.io/0debt/analytics-service:latest
        ports:
        - containerPort: 3000
        env:
        - name: MONGO_URI
          value: "mongodb://mongo-analytics:27017/analytics"
        - name: EXPENSES_SERVICE_URL
          value: "http://expenses-service:3000"
        - name: QUICKCHART_URL
          value: "https://quickchart.io/chart"

---
apiVersion: v1
kind: Service
metadata:
  name: analytics-service
spec:
  type: ClusterIP
  selector:
    app: analytics-service
  ports:
  - port: 3000
    targetPort: 3000
